RABBITMQ_DEFAULT_USER=beats
RABBITMQ_DEFAULT_PASS=beats-dev
RABBITMQ_DEFAULT_VHOST=beats
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

AZURITE_BLOB_PORT=10000
AZURITE_QUEUE_PORT=10001
AZURITE_TABLE_PORT=10002
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;
AZURE_STORAGE_CONTAINER_NAME=artifacts

MYSQL_ROOT_PASSWORD=beats-root-dev
MYSQL_DATABASE=beats
MYSQL_PORT=3306

BEATS_DB_PROVIDER=MySql
BEATS_DB_API_CONNECTION_STRING=Server=127.0.0.1;Port=3306;Database=beats;User ID=beats_api;Password=beats-api-dev;SslMode=None;AllowPublicKeyRetrieval=True;
BEATS_DB_STORYTELLER_CONNECTION_STRING=Server=127.0.0.1;Port=3306;Database=beats;User ID=beats_storyteller;Password=beats-storyteller-dev;SslMode=None;AllowPublicKeyRetrieval=True;
BEATS_DB_ILLUSTRATOR_CONNECTION_STRING=Server=127.0.0.1;Port=3306;Database=beats;User ID=beats_illustrator;Password=beats-illustrator-dev;SslMode=None;AllowPublicKeyRetrieval=True;
BEATS_DB_ANIMATOR_CONNECTION_STRING=Server=127.0.0.1;Port=3306;Database=beats;User ID=beats_animator;Password=beats-animator-dev;SslMode=None;AllowPublicKeyRetrieval=True;
BEATS_DB_EDITOR_CONNECTION_STRING=Server=127.0.0.1;Port=3306;Database=beats;User ID=beats_editor;Password=beats-editor-dev;SslMode=None;AllowPublicKeyRetrieval=True;
BEATS_DB_REVIEWER_CONNECTION_STRING=Server=127.0.0.1;Port=3306;Database=beats;User ID=beats_reviewer;Password=beats-reviewer-dev;SslMode=None;AllowPublicKeyRetrieval=True;
